<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelInfo</key>
	<dict>
		<key>money</key>
		<integer>500</integer>
		<key>currlevel</key>
		<string>levelInfo_1_2.plist</string>
		<key>nextlevel</key>
		<string>levelInfo_1_3.plist</string>
		<key>group</key>
		<dict>
			<key>1</key>
			<dict>
				<key>type1Num</key>
				<integer>5</integer>
				<key>type1Hp</key>
				<integer>15</integer>
				<key>type2Num</key>
				<integer>10</integer>
				<key>type2Hp</key>
				<integer>10</integer>
				<key>type3Num</key>
				<integer>10</integer>
				<key>type3Hp</key>
				<integer>10</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>type1Num</key>
				<integer>10</integer>
				<key>type1Hp</key>
				<integer>12</integer>
				<key>type2Num</key>
				<integer>10</integer>
				<key>type2Hp</key>
				<integer>15</integer>
				<key>type3Num</key>
				<integer>10</integer>
				<key>type3Hp</key>
				<integer>15</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>type1Num</key>
				<integer>10</integer>
				<key>type1Hp</key>
				<integer>15</integer>
				<key>type2Num</key>
				<integer>10</integer>
				<key>type2Hp</key>
				<integer>10</integer>
				<key>type3Num</key>
				<integer>10</integer>
				<key>type3Hp</key>
				<integer>10</integer>
			</dict>
		</dict>
	</dict>
	<key>resources</key>
	<dict>
		<key>map</key>
		<string>tilemap2.tmx</string>
		<key>image</key>
		<string>playbg.png</string>
	</dict>
</dict>
</plist>
