<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,838},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>arrowBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,82},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>arrowBullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,72},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>arrowTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,808},{92,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,123}}</string>
                <key>sourceSize</key>
                <string>{92,123}</string>
            </dict>
            <key>baseplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,585},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,92},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>deceleratetower.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,280},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>enemyLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,401},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,669},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,684},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,669},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,544},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,141},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,141},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,679},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,196},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,401},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,401},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,401},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,401},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,401},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,544},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,685},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,544},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,554},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,669},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,685},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,669},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>explode1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,837},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,72},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,686},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,196},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,838},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,196},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,401},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,838},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,196},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,401},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,269},{130,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,11}}</string>
                <key>sourceSize</key>
                <string>{130,11}</string>
            </dict>
            <key>hpBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,120},{147,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,29}}</string>
                <key>sourceSize</key>
                <string>{147,29}</string>
            </dict>
            <key>mftower.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,554},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>no.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,822},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>nomoney_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,585},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>playbutton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,280},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>playbutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,280},{80,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>playhp.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,401},{283,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{283,76}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>playstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{225,68}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,15},{225,68}}</string>
                <key>sourceSize</key>
                <string>{287,100}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,837},{56,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{56,55}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>starbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,822},{88,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>tool.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,808},{1036,80}}</string>
                <key>offset</key>
                <string>{-62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{1036,80}}</string>
                <key>sourceSize</key>
                <string>{1200,100}</string>
            </dict>
            <key>toolbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{1200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,100}}</string>
                <key>sourceSize</key>
                <string>{1200,100}</string>
            </dict>
            <key>towerPos.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,280},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Play.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fb0355a5a485345f5e03fcf4d5fa32d$</string>
            <key>textureFileName</key>
            <string>Play.png</string>
        </dict>
    </dict>
</plist>
