<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ArrowTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1964,198},{80,94}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{80,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>AttackTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844,905},{74,94}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{74,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>MultiDirTower1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1289,936},{84,94}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{84,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,905},{71,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,88}}</string>
			<key>sourceSize</key>
			<string>{71,88}</string>
		</dict>
		<key>arrowBullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,198},{35,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,8}}</string>
			<key>sourceSize</key>
			<string>{35,8}</string>
		</dict>
		<key>arrowBullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,161},{35,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,8}}</string>
			<key>sourceSize</key>
			<string>{35,8}</string>
		</dict>
		<key>attackTower.png</key>
		<dict>
			<key>frame</key>
			<string>{{1900,495},{92,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,128}}</string>
			<key>sourceSize</key>
			<string>{92,128}</string>
		</dict>
		<key>baseplate.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,651},{98,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,92}}</string>
			<key>sourceSize</key>
			<string>{98,92}</string>
		</dict>
		<key>btnBack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,138},{357,130}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{357,130}}</string>
			<key>sourceSize</key>
			<string>{359,136}</string>
		</dict>
		<key>btnNext.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,2},{357,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{357,134}}</string>
			<key>sourceSize</key>
			<string>{359,136}</string>
		</dict>
		<key>btnStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,306},{357,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{357,134}}</string>
			<key>sourceSize</key>
			<string>{359,136}</string>
		</dict>
		<key>bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,532},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>bullet1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,500},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>enemyLeft1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,763},{123,141}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,651},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,794},{123,141}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,651},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,763},{123,141}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,651},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyLeft3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,780},{123,137}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,776},{123,141}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,780},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,651},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,780},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,651},{123,141}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,875},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1839,597},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,875},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,651},{123,141}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,9},{123,141}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,888},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,746},{127,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,151}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>enemyRight3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,888},{123,137}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{123,137}}</string>
			<key>sourceSize</key>
			<string>{127,151}</string>
		</dict>
		<key>explode1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,919},{70,82}}</string>
			<key>offset</key>
			<string>{8,-55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,166},{70,82}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,886},{122,166}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,91},{122,166}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710,301},{192,302}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{192,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1737,2},{194,302}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1308,746},{100,188}}</string>
			<key>offset</key>
			<string>{-7,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,77},{100,188}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,802},{82,182}}</string>
			<key>offset</key>
			<string>{-2,-61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{54,122},{82,182}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,919},{70,82}}</string>
			<key>offset</key>
			<string>{8,-55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,166},{70,82}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1594,802},{122,166}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,91},{122,166}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,608},{192,302}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{192,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,304},{194,302}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710,495},{100,188}}</string>
			<key>offset</key>
			<string>{-7,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,77},{100,188}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923,726},{82,182}}</string>
			<key>offset</key>
			<string>{-2,-61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,122},{82,182}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,919},{70,82}}</string>
			<key>offset</key>
			<string>{8,-55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,166},{70,82}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1755,781},{122,166}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,91},{122,166}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,442},{192,302}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{192,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1182,2},{194,302}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,302}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,442},{100,188}}</string>
			<key>offset</key>
			<string>{-7,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,77},{100,188}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>explode3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1755,597},{82,182}}</string>
			<key>offset</key>
			<string>{-2,-61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,122},{82,182}}</string>
			<key>sourceSize</key>
			<string>{194,304}</string>
		</dict>
		<key>failedPanel.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{1030,488}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1030,488}}</string>
			<key>sourceSize</key>
			<string>{1030,488}</string>
		</dict>
		<key>hp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,161},{130,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,11}}</string>
			<key>sourceSize</key>
			<string>{130,11}</string>
		</dict>
		<key>hpBg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1649,270},{147,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,29}}</string>
			<key>sourceSize</key>
			<string>{147,29}</string>
		</dict>
		<key>multiDirTower.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,905},{92,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,83}}</string>
			<key>sourceSize</key>
			<string>{92,83}</string>
		</dict>
		<key>no.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,906},{96,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,89}}</string>
			<key>sourceSize</key>
			<string>{96,89}</string>
		</dict>
		<key>nomoney_mark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,632},{96,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,98}}</string>
			<key>sourceSize</key>
			<string>{96,98}</string>
		</dict>
		<key>page_mark1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1478,564},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{50,25}</string>
		</dict>
		<key>page_mark2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,564},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{50,25}</string>
		</dict>
		<key>playbutton1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1920,910},{124,112}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{124,112}}</string>
			<key>sourceSize</key>
			<string>{124,120}</string>
		</dict>
		<key>playbutton2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1718,905},{124,112}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{124,112}}</string>
			<key>sourceSize</key>
			<string>{124,120}</string>
		</dict>
		<key>playhp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,270},{269,32}}</string>
			<key>offset</key>
			<string>{-6,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,50},{269,32}}</string>
			<key>sourceSize</key>
			<string>{287,100}</string>
		</dict>
		<key>playstar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1737,198},{225,68}}</string>
			<key>offset</key>
			<string>{31,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62,15},{225,68}}</string>
			<key>sourceSize</key>
			<string>{287,100}</string>
		</dict>
		<key>star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,442},{56,55}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,15},{56,55}}</string>
			<key>sourceSize</key>
			<string>{88,87}</string>
		</dict>
		<key>starbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,905},{88,85}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,85}}</string>
			<key>sourceSize</key>
			<string>{88,87}</string>
		</dict>
		<key>title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1034,161},{600,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,119}}</string>
			<key>sourceSize</key>
			<string>{600,119}</string>
		</dict>
		<key>toolbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1178,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1178,153}}</string>
			<key>sourceSize</key>
			<string>{1178,135}</string>
		</dict>
		<key>towerPos.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,905},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Play.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:bbf52bdf87661431a28cb1413072dc39:85c0bfac5199dc0b915ac40f4b646c40:bee78d6310e05e66f5ba715ce0088f56$</string>
		<key>textureFileName</key>
		<string>Play.png</string>
	</dict>
</dict>
</plist>
