<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,560},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>arrowBullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{35,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,8}}</string>
                <key>sourceSize</key>
                <string>{35,8}</string>
            </dict>
            <key>baseplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,198},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,306},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>enemyLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,435},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,582},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,429},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,582},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,560},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,306},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,560},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,650},{70,82}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,166},{70,82}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{122,166}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,91},{122,166}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{192,302}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,302}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,302}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{100,188}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,77},{100,188}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>explode_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{82,182}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,122},{82,182}}</string>
                <key>sourceSize</key>
                <string>{194,304}</string>
            </dict>
            <key>hp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,198},{130,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,11}}</string>
                <key>sourceSize</key>
                <string>{130,11}</string>
            </dict>
            <key>hpBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{147,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,29}}</string>
                <key>sourceSize</key>
                <string>{147,29}</string>
            </dict>
            <key>mftower.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,292},{97,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,135}}</string>
                <key>sourceSize</key>
                <string>{97,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ddd5f0d4576513169e97147747dbace:f7cb171ed1e3e483c268ea2d37fd0ca6:b21d0a374f29193c6840f9de877d05a4$</string>
            <key>textureFileName</key>
            <string>Sprite.png</string>
        </dict>
    </dict>
</plist>
