<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,106},{84,96}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{84,96}}</string>
			<key>sourceSize</key>
			<string>{86,102}</string>
		</dict>
		<key>enemy2.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,106},{84,94}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{84,94}}</string>
			<key>sourceSize</key>
			<string>{86,102}</string>
		</dict>
		<key>enemy3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{86,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,102}}</string>
			<key>sourceSize</key>
			<string>{86,102}</string>
		</dict>
		<key>enemy4.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,106},{84,94}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{84,94}}</string>
			<key>sourceSize</key>
			<string>{86,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Sprite.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>textureFileName</key>
		<string>Sprite.png</string>
	</dict>
</dict>
</plist>
