<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemyLeft1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,145},{123,141}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyLeft1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{123,137}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{123,141}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,141}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,288},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,151}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
            <key>enemyRight1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,288},{123,137}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{123,137}}</string>
                <key>sourceSize</key>
                <string>{127,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3ff7b32684bf7c5241feebe7ede01ff$</string>
            <key>textureFileName</key>
            <string>Sprite.png</string>
        </dict>
    </dict>
</plist>
